<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Records</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        /* Custom CSS styles */
        .modal-body .container {
            margin-top: 20px;
        }

        .modal-body .form-control {
            margin-bottom: 10px;
        }

        .modal-body .btn-primary {
            width: 100%;
        }

        .modal-content {
            border-radius: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        img {
            max-width: 100px;
        }

        .document-links {
            margin-top: 5px;
        }

        /* Add your styles here */
        .form-group {
            margin-bottom: 10px;
        }
    
        .form-label {
            display: block;
            font-weight: bold;
        }
    
        .form-control {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
    
        /* Adjusted margin for the "Add Another Vehicle" button */
        #addVehicleBtn {
            margin-top: 10px;
        }
    
        /* Updated styles for the table */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #f8f9fa; /* Light background color */
        }
    
        th,
        td {
            text-align: center;
            padding: 10px;
            border: 1px dotted black; /* Border style set to dotted */
        }
    
        th {
            background-color: #6c757d; /* Dark background color for headers */
            color: black;
            border-width: 1.5pt; /* Border width for table header with 1.5pt thickness */
        }
    
        tr:nth-child(even) {
            background-color: #e2e6ea; /* Light background color for even rows */
        }
    
        /* Hover effect */
        tr:hover {
            background-color: #d4d8db; /* Slightly darker background on hover */
        }
    
    </style>
</head>

<body>
    <!-- Button to trigger modal -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="container mt-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Search Query" id="searchInput">
                        <button class="btn btn-outline-secondary" type="button" onclick="search()">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Loan Enquiry</button>
                <button type="button" class="btn btn-success" onclick="downloadDataRecords()">
                    <i class="bi bi-download"></i> Download
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Loan Enquiry Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if check == True %}
                    <center><h1 style="color: green;">Data Submitted successfully.</h1></center>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token%}
                        <div class="container">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="number" class="form-label">Mobile Number <span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="number" name="number" pattern="^[0-9]{10}$" maxlength="10" required placeholder="Enter 10-digit number">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                            </div>
                            <!-- RC Book field with radio buttons -->
                            <div class="mb-3">
                                <p class="form-label fw-bold">RC Book</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rc_book_radio" id="rcBookRadioYes" value="yes" onchange="toggleRcBookImageField()">
                                    <label class="form-check-label" for="rcBookRadioYes">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rc_book_radio" id="rcBookRadioNo" value="no" onchange="toggleRcBookImageField()">
                                    <label class="form-check-label" for="rcBookRadioNo">No</label>
                                </div>
                            </div>

                            <!-- RC Book image field -->
                            <div id="rcBookInputField" class="mb-3" style="display: none;">
                                <label for="rcBook" class="form-label fw-bold">RC Book (Image/PDF)</label>
                                <input type="file" name="rc_book_image" onchange="displayFileName(this)">
                                <p id="rcBookFileName" style="font-style: italic;"></p>
                            </div>

                            <!-- Document Upload Section -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="documentContainer">
                                            <!-- Default Document Input Field -->
                                            <div class="document-fields" id="defaultDocumentField">
                                                <div class="mb-3">
                                                    <label for="document" class="form-label fw-bold">Document</label>
                                                    <input type="file" class="form-control" name="documents[]" required>
                                                    <!-- Disabled Delete Button for Default Document Field -->
                                                    <button type="button" class="delete-button" disabled>&times;</button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Button to Add More Documents -->
                                        <button type="button" onclick="addDocumentField()" class="btn btn-primary mb-3">Add Document</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Button to Submit the Form -->
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <center><h4 style="color: blue;">Data Records</h4></center>
    <table id="dataRecords">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Email</th>
                <th>RC Book</th>
                <th>RC Book Image</th>
                <th>Documents</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.email }}</td>
                <td>
                    {% if item.rc_book_radio == 'yes' %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% if item.rc_book_image %}
                        <a href="{{ item.rc_book_image.url }}" target="_blank">
                            <img src="{{ item.rc_book_image.url }}" alt="RC Book Image">
                        </a>
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td class="document-links">
                    {% for doc in item.document_set.all %}
                        {{ doc.document.name }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- Bootstrap JS bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        function toggleRcBookImageField() {
            var rcBookRadioYes = document.getElementById('rcBookRadioYes');
            var rcBookInputField = document.getElementById('rcBookInputField');
            if (rcBookRadioYes.checked) {
                rcBookInputField.style.display = 'block';
            } else {
                rcBookInputField.style.display = 'none';
            }
        }

        function addDocumentField() {
            var clone = document.querySelector('#defaultDocumentField').cloneNode(true);
            var deleteButton = clone.querySelector('.delete-button');

            deleteButton.addEventListener('click', function () {
                deleteDocumentField(this);
            });

            deleteButton.removeAttribute('disabled'); // Enable delete button for cloned document field

            clone.querySelectorAll("input").forEach(function (input) {
                input.value = ""; // Clear values in cloned inputs
            });

            // Append document item to the list
            var documentContainer = document.getElementById('documentContainer');
            documentContainer.appendChild(clone);
        }

        function deleteDocumentField(button) {
            var parentDiv = button.parentElement;
            var isDefaultField = parentDiv.classList.contains('document-fields') && parentDiv.id === 'defaultDocumentField';

            // Check if the clicked element is the default document field
            // If it is, do not remove it
            if (!isDefaultField && confirm('Are you sure you want to delete this document?')) {
                parentDiv.remove();
            }
        }

        function search() {
            // Get the input value
            var input = document.getElementById('searchInput').value.trim().toLowerCase();
    
            // Get all tables in the document
            var tables = document.querySelectorAll('table');
    
            // Loop through each table
            for (var i = 0; i < tables.length; i++) {
                var rows = tables[i].querySelectorAll('tr');
    
                // Loop through all table rows, starting from the second row (index 1)
                for (var j = 1; j < rows.length; j++) {
                    var row = rows[j];
                    var found = false;
    
                    // Check each cell in the row for a match with the search query
                    for (var k = 0; k < row.cells.length; k++) {
                        var cellText = row.cells[k].textContent.trim().toLowerCase();
                        if (cellText.includes(input)) {
                            found = true;
                            break;
                        }
                    }
    
                    // Toggle row visibility based on whether any cell in the row matches the search query
                    if (found) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                }
            }
        }


        function downloadDataRecords() {
            var table = document.getElementById("dataRecords");
            var csv = [];
            
            // Get data rows
            for (var i = 0; i < table.rows.length; i++) {
                var row = [];
                for (var j = 0; j < table.rows[i].cells.length; j++) {
                    row.push(table.rows[i].cells[j].innerText);
                }
                csv.push(row.join(","));
            }
            
            csv = csv.join("\n");

            var blob = new Blob([csv], { type: 'text/csv' });

            var a = document.createElement("a");
            a.href = URL.createObjectURL(blob);
            a.download = "data_records.csv";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }// Your JavaScript functions here

        function validateForm() {
            var documentInput = document.getElementById('documentInput');
            if (documentInput.files.length === 0) {
                alert('Please select at least one document file.');
                return false;
            }
            return true;
        }

        function displayFileName(input) {
            var fileName = input.files[0].name;
            document.getElementById('rcBookFileName').textContent = fileName;
        }
        
    </script>
</body>
</html>
